<!-- Matomo -->
{{ if and .Site.Params.matomoURL .Site.Params.matomoSiteID }}
<script>
    var _paq = window._paq = window._paq || [];
    /* Track as a single page application without hash */
    _paq.push(['disableCookies']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="{{ .Site.Params.matomoURL }}";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '{{ .Site.Params.matomoSiteID }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="{{ .Site.Params.matomoURL }}matomo.php?idsite={{ .Site.Params.matomoSiteID }}&amp;rec=1" style="border:0;" alt=""></p></noscript>
{{ end }}
<!-- End Matomo Code -->
