<!-- Additional Elements -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Contact Us</h2>
        <div class="index align-left">
            <div class="index align-left">
                <section>
                    <header>
                        <h3>Interested?</h3>
                    </header>
                    <div class="content">

                        <dl>
                            <dt>Let's Get the Collaboration Started</dt>
                            <dd>
                                <p>You Can Reach Out Via</p>
                                <ul class="actions">
                                    <li><a href="mailto:philip@pragmatech.digital" class="button primary icon solid fa-envelope">Email</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
