<!-- Additional Elements -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>What We Offer</h2>
        <div class="index align-left">
            <section id="Consulting">
                <header>
                    <h3>Hands-On Consulting</h3>
                </header>
                <div class="content">

                    <dl>
                        <dt>Confidence-Boosting Development and Testing Practices 🚀</dt>
                        <dd>
                            <p>Introducing and educating modern testing tools and libraries, implementing continuous
                                production verification mechanism through canary tests, advocating pair programming and
                                Test-Driven Development (TDD).</p>
                        </dd>
                        <dt>Test Automation Optimization Activities ⚙️</dt>
                        <dd>
                            <p>Streamlining and speeding up test setups to build applications faster using approaches
                                like Spring TestContext caching, teaching testing recipes and best practices, helping
                                teams write meaningful tests that improve confidence and enable fearless
                                refactorings.</p>
                        </dd>
                        <dt>Transitioning to Continuous Live Deployments 🚤</dt>
                        <dd>
                            <p>Advocating trunk-based development to accelerate feedback loops, promoting and
                                introducing feature flags to deploy code changes faster and more securely, automating
                                software releases and repeating tasks.</p>
                        </dd>
                        <dt>Holistic Development Approach 💻</dt>
                        <dd>
                            <p>Adopting a comprehensive mindset by developing monitoring and alerting strategies to
                                identify outages and downtimes early on, introducing observability tools like
                                distributed tracing to better debug and investigate distributed microservice
                                landscapes.</p>
                        </dd>
                        <dt>Cloud Migration ☁️</dt>
                        <dd>
                            <p>Guiding organizations through successful migrations to the cloud, enabling them to
                                leverage fully managed services for enhanced operational capabilities, managing cloud
                                resources with infrastructure as code (IaC) to define and deploy them deterministically
                                and automatically.</p>
                        </dd>
                    </dl>

                </div>
            </section>
        </div>
        <div class="index align-left">
            <section id="Content">
                <header>
                    <h3>Actionable Tech Content</h3>
                </header>
                <div class="content">
                    <dl>
                        <dt>Testing Spring Boot Applications Masterclass 🍃</dt>
                        <dd>
                            <p><strong>Format</strong>: 12 hours on-demand online course.</p>
                            <p>Transform your testing skills and boost your confidence in deploying Spring Boot
                                applications with the "Testing Spring Boot Applications Masterclass." This comprehensive
                                online course dives deep into automated testing techniques, offering practical,
                                real-world examples for mastering unit, integration, and end-to-end testing. Equip
                                yourself with the latest testing tools and libraries and become more
                                productive.<br/><br/> <a
                                        href="https://rieckpil.de/testing-spring-boot-applications-masterclass/">Enroll
                                    now</a> and step into a world where writing tests becomes a joyful, integral part of
                                your development process.</p>
                            <embed src= "/documents/PragmaTech-Automated-Spring-Boot-Testing-Online-Course.pdf" width="100%" height= "1000px" type="application/pdf" >
                        </dd>
                        <dt>Stratospheric - From Zero to Production with Spring Boot on AWS 🚀</dt>
                        <dd>
                            <p><strong>Format</strong>: 450 pages long eBook and 6 hours on-demand online course.</p>
                            <p>From Zero to Production with Spring Boot and AWS. All you need to know to get a Spring
                                Boot application into production with AWS. No previous AWS knowledge required.
                                <br/></br>
                                <a href="https://www.stratospheric.dev">Learn how to develop and deploy Spring Boot on
                                    AWS</a>
                            </p>
                        </dd>
                        <dt>rieckpil - Testing Spring Boot Applications Made Simple 🧪</dt>
                        <dd>
                            <p><strong>Format</strong>: Online blog.</p>

                            <p>Guides, thorough explanations, and best practices on testing Spring Boot applications.
                                Helping developers incorporate testing as a routine rather than a frustrated
                                afterthought.
                                <br/><br><a href="https://rieckpil.de/">Visit our blog</a>
                                to get started with effective Spring Boot testing.</p>
                        </dd>
                    </dl>
                </div>
            </section>
        </div>
        <div class="index align-left">
            <section id="Workshops">
                <header>
                    <h3>Practical Workshops</h3>
                </header>
                <div class="content">

                    <dl>
                        <dt>Testing Spring Boot Applications Deep-Dive 🍃</dt>
                        <dd>
                            <p>Advanced two day workshop for experience Java developers.</p>
                        </dd>
                        <dt>Testing Spring Boot Applications Demystified 🚀</dt>
                        <dd>
                            <p>Beginner-friendly one day workshop to get started with testing Java Spring Boot
                                applications.</p>
                        </dd>
                    </dl>

                </div>
            </section>
        </div>
        <div class="index align-left">
            <section id="Conference">
                <header>
                    <h3>Recent Conference Talks</h3>
                </header>
                <div class="content">
                    <dl>
                        <dt>Spring I/O in Barcelona 2024 🍃</dt>
                        <dd>
                            <p>Testing Spring Boot Applications Demystified</p>
                            <span class="image small fit"><a
                                    href="https://github.com/rieckpil/talks"><img
                                    src="images/talks/testing-spring-boot-applications-demystified.jpeg"/></a></span>
                        </dd>
                        <dt>VMWare Explore in Las Vegas 2023 🚀</dt>
                        <dd>
                            <p>Things I Wish I Knew When I Started Testing Spring Boot Applications</p>
                            <span class="image fit"><a
                                    href="https://www.vmware.com/explore/video-library/video-landing.html?sessionid=1679037154547001kVBS&videoId=6335569506112"><img
                                    src="images/talks/spring-vmware-explore-talk.webp"/></a></span>
                        </dd>
                        <dt>Spring I/O in Barcelona 2023 🍃️</dt>
                        <dd>
                            <p>Things I Wish I Knew When I Started Testing Spring Boot Applications</p>
                            <span class="image fit">
                            <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/hR0bbk2tsF0?si=tRbJfmbUefI_zfyh"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                                    </span>
                        </dd>
                        <dt>Devoxx Belgium in Antwerp in 2022 🚤</dt>
                        <dd>
                            <p>Things I Wish I Knew When I Started Testing Spring Boot Applications</p>
                            <span class="image fit">
                            <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/5Td7vAS9qJI?si=Da_4Bq2ZDBDU7h8O"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe></span>
                        <dt>Spring I/O in Barcelona 2022 🍃️</dt>
                        <dd>
                            <p>How Fixing A Broken Window Cut Down Our Build Time By 50%</p>
                            <span class="image fit">
                            <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/c-GV2PxymoY?si=Lvjc6nETgqPUaj_i"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe></span>
                        </dd>
                    </dl>

                </div>
            </section>
        </div>

    </div>
</section>
