<!-- Additional Elements -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Our Talks</h2>
        <div class="index align-right">
            <section>
                <header>
                    <h3>Recent Conference Visits</h3>
                </header>
                <div class="content">

                    <dl>
                        <dt>Spring I/O in Barcelona 2024 🍃</dt>
                        <dd>
                            <p>Testing Spring Boot Applications Demystified</p>
                            <span class="image small fit"><a
                                    href="https://github.com/rieckpil/talks"><img
                                    src="images/talks/testing-spring-boot-applications-demystified.jpeg"/></a></span>
                        </dd>
                        <dt>VMWare Explore in Las Vegas 2023 🚀</dt>
                        <dd>
                            <p>Things I Wish I Knew When I Started Testing Spring Boot Applications</p>
                            <span class="image fit"><a
                                    href="https://www.vmware.com/explore/video-library/video-landing.html?sessionid=1679037154547001kVBS&videoId=6335569506112"><img
                                    src="images/talks/spring-vmware-explore-talk.webp"/></a></span>
                        </dd>
                        <dt>Spring I/O in Barcelona 2023 🍃️</dt>
                        <dd>
                            <p>Things I Wish I Knew When I Started Testing Spring Boot Applications</p>
                            <span class="image fit">
                            <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/hR0bbk2tsF0?si=tRbJfmbUefI_zfyh"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                                    </span>
                        </dd>
                        <dt>Devoxx Belgium in Antwerp in 2022 🚤</dt>
                        <dd>
                            <p>Things I Wish I Knew When I Started Testing Spring Boot Applications</p>
                            <span class="image fit">
                            <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/5Td7vAS9qJI?si=Da_4Bq2ZDBDU7h8O"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe></span>
                        <dt>Spring I/O in Barcelona 2022 🍃️</dt>
                        <dd>
                            <p>How Fixing A Broken Window Cut Down Our Build Time By 50%</p>
                            <span class="image fit">
                            <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/c-GV2PxymoY?si=Lvjc6nETgqPUaj_i"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe></span>
                        </dd>
                    </dl>

                </div>
            </section>
        </div>
    </div>
</section>
