<!-- Additional Elements -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Our Team</h2>
        <div class="index align-left">
            <section>
                <header>
                    <h3>You'd be working with</h3>
                </header>
                <div class="content">

                    <dl>
                        <dt>Philip</dt>
                        <dd>
                            <p>Founder & Lead Consultant and Content Creator.</p>
                        </dd>
                        <dt>Nora️</dt>
                        <dd>
                            <p>Assistant, Digital Marketing & Communication.</p>
                        </dd>
                    </dl>
                </div>
            </section>
        </div>
    </div>
</section>
